body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #f0f8ff;
  color: #3a3a3a;

  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  font-family: "Courier New", Courier, monospace;
}
.discs {
  --spin-duration: 4s;
  --pause-duration: 1s;
  --spin-count: 2;
  height: 300px;
  width: 300px;
  border: 4px solid;
  justify-self: center;
  border-radius: 200px;
  margin: 50px;
  animation: spin calc(var(--spin-duration) + var(--pause-duration))
    cubic-bezier(0.1, 0.7, 0.1, 1) infinite;
}
#A {
  background-color: #ff6fff;
  border: #ff6fff;
}
#B {
  background-color: #6fff9e;
  border: #6fff9e;
}
header {
  font-size: 90px;
  align-self: center;
  font-size: 80px;
  font-weight: bold;
  color: 3A3A3A;
  margin: 20px;
  text-shadow: 2px 2px 4px #000;
}
main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.players {
  height: 800px;
  width: 350px;
}

h2 {
  justify-self: center;
  font-size: 60px;
  text-shadow: 2px 2px 4px #000;
}

.start {
  font-size: 32px;
  padding: 15px 30px;
  border-radius: 15px;
  border: none;

  background-color: #3a3a3a;
  color: #f0f8ff;
  font-weight: bold;
  cursor: pointer;
}

.board {
  height: 850px;
  width: 1000px;
  background-color: #ffd700;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(7, 120px);
  grid-template-rows: repeat(6, 120px);
  gap: 2px;
  margin: 20px auto;
  align-content: space-evenly;
  align-self: center;
}

.cells {
  background-color: white;
  border: solid #ffd700;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  transition: background-color 0.3s ease;
}
.cells:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.reset {
  font-size: 32px;
  padding: 15px 30px;
  border-radius: 15px;
  border: none;

  background-color: #3a3a3a;
  color: #f0f8ff;
  font-weight: bold;
  cursor: pointer;
}

.cells.win {
  box-shadow: 0 0 0 10px rgb(124, 27, 27) inset;
  transform: scale(1.1);
  transition: transform 0.2s;
  animation: blink 0.7s infinite;
  animation: bgFlash 1s;
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  80% {
    transform: rotateY(calc(360deg * var(--spin-count)));
  }
  100% {
    transform: rotateY(calc(360deg * var(--spin-count)));
  }
}
@keyframes blink {
  0%,
  100% {
    box-shadow: 0 0 0 5px gold inset;
    transform: scale(1.1);
  }
  50% {
    box-shadow: 0 0 20px 10px gold inset;
    transform: scale(1.2);
  }
}
@keyframes bgFlash {
  0% { background-color: white; }
  50% { background-color: gold; }
  100% { background-color: white; }
}
